body{
    margin: 0;
    padding: 0;
    background: #ccc;
}
nav#topmenu ul{
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0%;
    margin: 0;
}
nav#topmenu li{
    font-size: 24px;
    line-height: 40px;
    display: inline-block;
    padding: 20px;
}
nav#topmenu a{
    text-decoration: none;
    color: #fff;
}
article header p {
    font-style: italic;
}
footer{
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
}
aside head p {
    font-style: italic;
}
table {
        border: 1px #444;
        border-collapse: collapse;
        text-align: center;
        min-width: 500;
    }
    table td{
        border: 1px solid black;
        padding: 5pxS;
        text-align: center;
        min-width: 600;
    }